<mat-dialog-content>
  <h2>
    {{message}}
  </h2>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <button
    mat-raised-button
    (click)="onConfirmClick()"
    tabindex="1"
    class="btn btn-info"
  >
    {{confirmButtonText}}
  </button>
  <button
    mat-raised-button
    mat-dialog-close
    tabindex="-1"
    class="btn btn-secondary "
  >
    {{cancelButtonText}}
  </button>
</mat-dialog-actions>
