table {
  width: 100%;
  /* margin-left: auto;
    margin-right: auto; */
}
.card-header {
  font-size: 40px;
  text-align: center;
  color: #4c99d0;
  padding: 50px 50px 30px 50px;
}
.btn-round {
  border-radius: 5px;
  width: 130px;
}
img {
  margin-left: 10px;
}
.button-right {
  justify-content: right;
}
mat-form-field {
  margin: 10px;
}
.empty {
  color: #556388;
  height: 300px;
}
.empty-box {
  width: 150px;
}
.empty-center {
  padding-top: 20px;
  margin: auto;
}
.address-title {
  color: #4c99d0;
}