<div class="row">
  <div class="col-md-12">
    <div class="card h-100">
      <div class="card-header">
        Chỉ định bác sĩ
      </div>
      <div class="text-center">
        <h2 class="address-title" *ngIf="isAdmin">
          {{currentUser.provinceName}} - {{currentUser.districtName}}
        </h2>
        <h2 class="address-title" *ngIf="isMod">
          {{currentUser.provinceName}}
          <br />
          {{currentUser.districtName}} - {{currentUser.villageName}}
        </h2>
      </div>
      <form class="card-body" [formGroup]="formAssign" (submit)="onAssign()">
        <div class="text-center">
          <mat-form-field
            appearance="fill"
            class="padding-right"
            *ngIf="isSuperAdmin"
          >
            <mat-label>Tỉnh/Thành phố</mat-label>
            <mat-select
              matNativeControl
              panelClass="mat-select-content"
              (selectionChange)="onChangeProvinceId($event.value)"
            >
              <mat-option
                *ngFor="let province of listOfProvince
              , let i = index"
                [value]="province.provinceId"
                >{{province.name}}</mat-option
              >
            </mat-select>
          </mat-form-field>
          <mat-form-field
            appearance="fill"
            class="padding-right"
            *ngIf="isSuperAdmin"
          >
            <mat-label>Quận/Huyện</mat-label>
            <mat-select
              matNativeControl
              panelClass="mat-select-content"
              (selectionChange)="onChangeDistrictId($event.value)"
            >
              <mat-option
                *ngFor="let district of listOfDistrict
              , let i = index"
                [value]="district.districtId"
                >{{district.name}}</mat-option
              >
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="fill" *ngIf="isAdmin || isSuperAdmin">
            <mat-label>Trạm y tế</mat-label>
            <mat-select
              matNativeControl
              panelClass="mat-select-content"
              (selectionChange)="onChangeVillage($event.value)"
            >
              <mat-option
                *ngFor="let medicalStaff of listOfMedicalStaff
                  , let i = index"
                [value]="medicalStaff.village.villageId"
                >{{getFullName(medicalStaff.lastname,medicalStaff.surname,
                medicalStaff.firstname)}}</mat-option
              >
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="fill" *ngIf="isAdmin || isSuperAdmin">
            <mat-label>Bác sĩ</mat-label>
            <mat-select matNativeControl formControlName="doctorId">
              <mat-option
                *ngFor="let doctor of listOfDoctor, let i = index"
                [value]="doctor.id"
                >{{getFullName(doctor.user.lastname, doctor.user.surname,
                doctor.user.firstname)}}</mat-option
              >
            </mat-select>
          </mat-form-field>
        </div>
        <div class="float-right" *ngIf="listOfPatient">
          <mat-form-field appearance="fill" *ngIf="isMod">
            <mat-label>Bác sĩ</mat-label>
            <mat-select matNativeControl formControlName="doctorId">
              <mat-option
                *ngFor="let doctor of listOfDoctor, let i = index"
                [value]="doctor.id"
                >{{getFullName(doctor.user.lastname, doctor.user.surname,
                doctor.user.firstname)}}</mat-option
              >
            </mat-select>
          </mat-form-field>
          <button type="submit" class="btn btn-primary btn-round">
            Lưu
          </button>
        </div>
        <!-- <h2 *ngIf="!listOfPatient && isAdmin" class="text-center mt-3">
          (Hãy chọn địa phương bạn muốn xem trước!)
        </h2> -->
        <div class="card-body" *ngIf="!listOfPatient">
          <div class="empty">
            <div class="empty-center text-center">
              <img src="assets/images/empty-folder.png" class="empty-box" />
              <h2>
                Danh sách trống!
              </h2>
            </div>
          </div>
        </div>
        <div>
          <div *ngIf="listOfPatient">
            <div *ngIf="listOfPatient.length === 0" class="empty">
              <div class="empty-center text-center">
                <img src="assets/images/empty-folder.png" class="empty-box" />
                <h2>
                  <!-- Danh sách trống! -->
                  Không có báo cáo!
                </h2>
              </div>
            </div>
            <table
              *ngIf="listOfPatient.length >= 0"
              class="table table-bordered"
            >
              <thead class="table-info">
                <tr class="table-info">
                  <th scope="col " style="width: 5%;">Chọn</th>
                  <th scope="col ">Họ và Tên</th>
                  <th scope="col ">SĐT</th>
                  <th scope="col ">Địa chỉ</th>
                  <!-- <th scope="col " style="width: 14%;">Thao tác</th> -->
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="let patient of listOfPatient 
                  | paginate: { itemsPerPage: 10, currentPage: p}
                  , let i = index"
                >
                  <th class="text-center" scope="row">
                    <input
                      type="checkbox"
                      [value]="patient.userId"
                      (change)="onCheckboxChange($event)"
                    />
                  </th>
                  <td>
                    <a
                      [routerLink]="['/user-profile']"
                      [queryParams]="{id: patient.userId}"
                    >
                      {{ getFullName(patient.lastname,patient.surname,
                      patient.firstname) }}
                    </a>
                  </td>
                  <td>{{patient.phone}}</td>
                  <td>
                    {{patient.address}}
                  </td>
                  <!-- <td class="text-center">
                    <a
                      [routerLink]="['/user-profile']"
                      [queryParams]="{id: patient.userId}"
                    >
                      <img
                        src="assets/images/icon/o-alert-info@2x.png"
                        width="24px"
                        height="24px"
                      />
                    </a>
                    <img
                      src="assets/images/icon/file-text@4x.png"
                      width="24px"
                      height="24px"
                      routerLink="/medicines-staff-detail"
                    />
                  </td> -->
                </tr>
              </tbody>
            </table>
            <div
              class="d-flex justify-content-center"
              *ngIf="listOfPatient.length != 0 && p >= 1"
            >
              <pagination-controls
                (pageChange)="p = $event"
              ></pagination-controls>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
