<div class="bg-img">
  <form
    [formGroup]="formPassword"
    class="container center"
    (submit)="onReset()"
  >
    <h1 class="d-flex justify-content-center"><b>MẬT KHẨU MỚI</b></h1>
    <div class="row form-group">
      <label class="col-md-4 control-label text-right"
        ><b>Mật khẩu mới:</b></label
      >
      <div class="col-md-8">
        <div class="input-group">
          <input
            [type]="password ? 'text' : 'password'"
            class="form-control"
            formControlName="password"
            placeholder="Mật khẩu mới"
          />
          <div class="input-group-append">
            <span class="input-group-text">
              <i
                class="fa"
                [ngClass]="{
                  'fa-eye-slash': !password,
                  'fa-eye': password
                }"
                (click)="toggleShowPassword()"
              ></i>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="row form-group">
      <div class="col-md-4"></div>
      <div class="col-md-8 text-left">
        <div
          *ngIf="(formPassword.get('password').invalid
           && formPassword.get('password').touched) 
           || formPassword.get('password').dirty"
        >
          <small
            *ngIf="formPassword.get('password').errors?.required"
            class="text-danger"
            >Chưa nhập mật khẩu mới</small
          >
          <small
            *ngIf="formPassword.get('password').errors?.minlength"
            class="text-danger"
            >Tối thiểu phải có 6 kí tự</small
          >
        </div>
      </div>
    </div>
    <div class="row form-group">
      <label class="col-md-4 control-label text-right"
        ><b>Xác nhận mật khẩu:</b></label
      >
      <div class="col-md-8">
        <div class="input-group">
          <input
            [type]="cfPassword ? 'text' : 'password'"
            class="form-control"
            formControlName="cfPassword"
            placeholder="Mật khẩu mới"
          />
          <div class="input-group-append">
            <span class="input-group-text">
              <i
                class="fa"
                [ngClass]="{
                  'fa-eye-slash': !cfPassword,
                  'fa-eye': cfPassword
                }"
                (click)="toggleShowcfPassword()"
              ></i>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="row form-group">
      <div class="col-md-4"></div>
      <div class="col-md-8 text-left">
        <div
          *ngIf="(formPassword.get('cfPassword').invalid
           && formPassword.get('cfPassword').touched) 
           || formPassword.get('cfPassword').dirty"
        >
          <small
            *ngIf="formPassword.get('cfPassword').errors?.required"
            class="text-danger"
            >Chưa nhập mật khẩu mới</small
          >
          <small
            *ngIf="formPassword.get('cfPassword').errors?.minlength"
            class="text-danger"
            >Tối thiểu phải có 6 kí tự</small
          >
          <!-- <small
            *ngIf="formPassword.get('password').value !==formPassword.get('cfPassword').value"
            class="text-danger"
            >Mật khẩu mới không trùng nhau</small
          > -->
        </div>
      </div>
    </div>
    <div class="text-center">
      <div
        *ngIf="(formPassword.get('cfPassword').invalid
       && formPassword.get('cfPassword').touched) 
       || formPassword.get('cfPassword').dirty"
      >
        <small
          *ngIf="formPassword.get('password').value !==formPassword.get('cfPassword').value"
          class="text-danger"
          >Mật khẩu mới không trùng nhau</small
        >
      </div>
    </div>
    <button type="submit" class="btn btn-primary btn-round center">
      Lưu
    </button>
    <button
      type="button"
      (click)="onCancel()"
      class="btn btn-secondary btn-round center"
    >
      Hủy
    </button>
  </form>
</div>
