<div class="row" *ngIf="testResults">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        Kết quả xét nghiệm covid
      </div>
      <div class="card-body">
        <div class="pl-5">
          <h2>I.THÔNG TIN BỆNH NHÂN</h2>
          <div class="pl-5">
            <div class="row">
              <h3 class="col-md-4">
                Họ và tên:
                <a
                  [routerLink]="['/user-profile']"
                  [queryParams]="{id: user.userId}"
                >
                  <b
                    >{{ converName( user.lastname, user.surname, user.firstname)
                    }}</b
                  >
                </a>
              </h3>
              <h3 class="col-md-3">
                Giới tính:
                <b>{{ user.gender }}</b>
              </h3>
              <h3 class="col-md-2">
                Tuổi:
                <b>{{ converAge(user.dateOfBirth) }}</b>
              </h3>
            </div>
            <h3>
              Ngày tháng năm sinh: {{user.dateOfBirth | date: 'dd-MM-yyyy' }}
            </h3>
            <h3>Số điện thoại: {{user.phone}}</h3>
            <h3>Email: {{user.email? user.email : emailNull}}</h3>
            <h3>
              Địa chỉ: {{converAddress(user.village.name,
              user.village.district.name, user.village.district.province.name)}}
            </h3>
            <!-- <h3>
              Thời gian cập nhật bệnh án: {{testResult.date | date: 'dd-MM-yyyy'
              }}
            </h3> -->
          </div>
          <h2>II. KẾT QUẢ XÉT NGHIỆM</h2>

          <div class="pl-5">
            <mat-form-field appearance="fill">
              <mat-label>Lần xét nghiệm </mat-label>
              <mat-select
                (selectionChange)="onChangeTestNumber($event.value)"
                [value]="defaultTestNumber"
                matNativeControl
              >
                <mat-option
                  *ngFor="let testResult of testResults"
                  [value]="testResult.numberTest"
                  >{{testResult.numberTest}}</mat-option
                >
              </mat-select>
            </mat-form-field>
            <div *ngIf="testResultsFilter.length == 0" class="emptyList">
              <h2>không có thông tin lần xét nghiệm này</h2>
            </div>
            <div *ngFor="let testResult of testResultsFilter, let i = index">
              <h4>Loại xét nghiệm: <b>{{testResult.sampleType.name}}</b></h4>
              <h4>Mã xét nghiệm: <b>{{testResult.resultCode}}</b></h4>
              <h4>
                Kết quả xét nghiệm:
                <b>{{ converTestResult(testResult.testResult) }}</b>
              </h4>
              <h4>Đơn vị xét nghiệm: {{testResult.unitSendName}}</h4>
              <!-- <h4>
              Địa chỉ: {{converAddress(testResult.unit.village.name,
              testResult.unit.village.district.name,
              testResult.unit.village.district.province.name)}}
            </h4> -->
              <div class="row">
                <h4 class="col-md-4">
                  Ngày bắt đầu: {{testResult.startDate | date: 'dd-MM-yyyy'}}
                </h4>
                <h4 class="col-md-4">
                  Ngày lấy mẫu: {{testResult.collectDate | date: 'dd-MM-yyyy'}}
                </h4>
              </div>
              <div class="row">
                <h4 class="col-md-4">
                  Ngày nhận mẫu: {{testResult.receiveDate | date: 'dd-MM-yyyy'}}
                </h4>
                <h4 class="col-md-4">
                  Ngày xét nghiệm: {{testResult.testDate | date: 'dd-MM-yyyy'}}
                </h4>
              </div>
              <h4>Ghi chú khác: {{testResult.comment}}</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
