<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header text-center">Gửi yêu cầu</div>
      <!-- <h2 class="text-center">
          {{currentUser.provinceName}}
          <br />
          {{currentUser.districtName}} - {{currentUser.villageName}}
        </h2> -->
      <div class="card-body">
        <div class="card-body">
          <form
            [formGroup]="formCreate"
            (submit)="onCreate()"
            class="form-horizontal"
          >
            <div class="form-group row">
              <label class="col-md-3 control-label text-right">Yêu cầu: </label>
              <div class="col-md-9">
                <select
                  class="form-control form-select"
                  (change)="onChangeRequest($event.target.value)"
                >
                  <option value="">--- Yêu cầu ---</option>
                  <option
                    *ngFor="let requestType of requestTypes"
                    value="{{requestType.id}}"
                    >{{requestType.requestTypeName}}</option
                  >
                </select>
                <!-- <input
                  type="text"
                  placeholder="Triệu chứng"
                  class="form-control"
                  formControlName="requestTypeId"
                /> -->
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-3"></div>
              <div class="col-md-9">
                <div
                  *ngIf="(formCreate.get('requestTypeId').invalid 
                  && formCreate.get('requestTypeId').touched) 
                  || formCreate.get('requestTypeId').dirty"
                >
                  <small
                    *ngIf="formCreate.get('requestTypeId').errors?.required"
                    class="text-danger"
                    >Chưa chọn yêu cầu</small
                  >
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 control-label text-right">Mô tả: </label>
              <div class="col-md-9">
                <textarea
                  type="text"
                  placeholder="Mô tả"
                  class="form-control"
                  formControlName="description"
                ></textarea>
              </div>
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-primary btn-round">
                Gửi
              </button>
              <button
                type="button"
                (click)="onCancel()"
                class="btn btn-secondary btn-round"
              >
                Hủy
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
