.form-horizontal {
  width: 60%;
  margin: 0 auto 50px auto;
  padding: 30px 20px;
  border: 1px solid lightblue;
  border-radius: 10px;
}
.card-header {
  font-size: 30px;
  line-height: 40px;
  text-align: center;
  color: #4c99d0;
  padding: 50px;
}
label {
  text-align: right;
  padding: 0;
  font-size: 16px;
  margin: auto;
}
.btn-round {
  border-radius: 5px;
}
.center1 {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}
.btn {
  width: 120px;
}
/* .border{
  border: 1px solid black;
} */
