<div class="row" *ngIf="medicine">
  <div class="col-md-12">
    <div class="card">
      <div class="card-border">
        <div class="row">
          <div class="col-md-3"></div>
          <div class="col-md-6 justify-content-center">
            <div class="card-header">
              {{medicine.name}}
            </div>
          </div>
          <div class="col-md-3" *ngIf="isSuperAdmin">
            <div class="text-right" style="margin: auto 0;">
              <button
                class="btn btn-primary btn-round"
                (click)="onEditBtn(medicine.id)"
              >
                Sửa
              </button>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-7">
            <div class="form-group">
              <div class="px-5">
                <h2>
                  Mô tả:
                </h2>
                <p class="px-4">
                  {{medicine.description}}
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-5">
            <div class="text-center">
              <img
                class="img-center"
                [src]="defaultImg"
              />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <div class="px-5">
                <h2>
                  Chi tiết:
                </h2>
                <p class="px-4">
                  {{medicine.detail}}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
