.card-border{
padding-bottom: 50px;
}
.card-header {
  font-size: 30px;
  line-height: 40px;
  text-align: center;
  color: #4c99d0;
  padding: 50px;
}
.txt-right {
  text-align: right;
  font-size: 20px !important;
}
.form-horizontal {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.btn-center {
  display: flex;
  justify-content: center;
}
.img-center {
  height: 150px;
  width: auto;
}
.modify {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  margin-top: 50px;
}
.btn-round {
  border-radius: 5px;
}
.center1 {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}
img {
  border: 1px solid lightblue;
}
button {
  width: 130px;
  margin: 50px 10px !important;
}
