.card-header {
  font-size: 30px;
  line-height: 40px;
  text-align: center;
  color: #4c99d0;
  padding: 50px 0px 50px 0px;
  line-height: 40px;
}
.add-new-title{
  color: #4c99d0;
}
.txt-right {
  text-align: right;
  font-size: 20px !important;
}
.form-horizontal {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.btn-center {
  display: flex;
  justify-content: center;
}
.img-center {
  height: 130px;
  width: auto;
}
.card-padding {
  padding: 20px;
  /* border-bottom: 1px solid royalblue; */
}
.card-padding-edit {
  padding: 20px;
  border-bottom: 1px solid royalblue;
}
.card-border {
  border-bottom: 1px solid royalblue;
  margin-bottom: 30px;
}
.card-modify {
  min-height: 130px;
}
.sbody {
  margin-bottom: 40px;
}
.modify {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  margin-top: 50px;
}
.btn-round {
  border-radius: 5px;
}
.center1 {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}
/* img {
  border: 1px solid lightblue;
} */
.button1 {
  width: 130px;
  margin: 50px 10px !important;
}
.no-padding {
  padding: 0px !important;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.like-button {
  cursor: pointer;
  border-radius: 10rem;
  background-color: transparent;
  border: transparent;
}
.fa-camera {
  position: absolute;
  z-index: 2;
  position: absolute;
}
.body1 {
  display: flex;
  flex-direction: column;
}
.container {
  position: relative;
}
