<div class="row" *ngIf="exercise">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-3"></div>
          <div class="col-md-6 justify-content-center">
            <div class="card-header">
              {{exercise.name}}
            </div>
          </div>
          <div class="col-md-3" *ngIf="isSuperAdmin">
            <div class="justify-content-end" style="margin: auto 0;">
              <button
                type="submit"
                class="btn btn-primary btn-round button1"
                (click)="onEditBtn(exercise.id)"
              >
                Chỉnh sửa
              </button>
            </div>
          </div>
        </div>
        <div class="px-5">
          <h1>Hướng dẫn thực hiện:</h1>
          <div>
            <div
              *ngFor="let exerciseStep of exerciseStep, let i = index"
              class="card-padding"
            >
              <div class="row card-modify">
                <div class="col-md-3">
                  <div class="text-center">
                    <img
                      class="img-center"
                      [src]="baseImg + exerciseStep.imageDescription "
                      onerror="this.style.display='none'"
                    />
                  </div>
                </div>
                <div class="col-md-8">
                  <div class="form-group">
                    <div>
                      <h2>{{exerciseStep.description}}</h2>
                      <p>
                        {{exerciseStep.detail}}
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-md-1 no-padding dropdown" *ngIf="isSuperAdmin">
                  <div class="text-center">
                    <img
                      src="assets/images/icon/settings@4x.png"
                      width="26px"
                      (click)="onStepEdit(exerciseStep)"
                    />
                    <img
                      class="float-right"
                      src="assets/images/icon/trash-can@4x.png"
                      width="26px"
                      (click)="onDelete(exerciseStep.exerciseDetailId)"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card-border" *ngIf="isSuperAdmin"></div>
          <div class="sbody" *ngIf="isSuperAdmin">
            <div class="card-padding">
              <h2 class="text-center add-new-title">Tạo mới</h2>
              <div class="row card-modify">
                <div class="col-md-3">
                  <div class="text-center">
                    <img class="img-center" [src]="defaultImg" />
                    <input
                      type="file"
                      accept="image/*"
                      #file2
                      hidden
                      (change)="onSelectFile($event)"
                    />
                    <button
                      type="button"
                      class="btn btn-success btn-round"
                      style="width: auto;"
                      (click)="file2.click()"
                    >
                      <i class="fa fa-upload"></i>
                      Chọn ảnh
                    </button>
                  </div>
                </div>
                <div class="col-md-8">
                  <form [formGroup]="formCreate">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="input-group">
                          <textarea
                            type="text"
                            formControlName="description"
                            placeholder="Mô tả bước tập"
                            class="form-control"
                          ></textarea>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div
                          *ngIf="(formCreate.get('description').invalid 
                            && formCreate.get('description').touched) 
                            || formCreate.get('description').dirty"
                        >
                          <small
                            *ngIf="formCreate.get('description').errors?.required"
                            class="text-danger"
                            >Thêm mô tả</small
                          >
                        </div>
                      </div>
                    </div>
                    <div class="row" style="padding-top: 10px;">
                      <div class="col-md-12">
                        <div class="input-group">
                          <textarea
                            type="text"
                            formControlName="detail"
                            placeholder="Chi tiết về bước tập"
                            class="form-control"
                          ></textarea>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div
                          *ngIf="(formCreate.get('detail').invalid 
                            && formCreate.get('detail').touched) 
                            || formCreate.get('detail').dirty"
                        >
                          <small
                            *ngIf="formCreate.get('detail').errors?.required"
                            class="text-danger"
                            >Thêm chi tiết bài tập</small
                          >
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
                <div class="col-md-1 no-padding dropdown">
                  <div class="text-center">
                    <img
                      src="assets/images/icon/cloud_upload@4x.png"
                      width="26px"
                      (click)="onCreateStep()"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
