<div class="row" *ngIf="symptom">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        {{symptom.name}}
      </div>
      <form [formGroup]="formUpdate" (submit)="onSubmit()">
        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-8">
            <div class="form-horizontal">
              <div class="form-group row">
                <label class="col-md-4 control-label txt-right">
                  Tên triệu chứng:
                </label>
                <div class="col-md-8">
                  <input
                    type="text"
                    placeholder="Tên triệu chứng"
                    class="form-control"
                    formControlName="name"
                  />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-4 control-label txt-right">Mô tả: </label>
                <div class="col-md-8">
                  <textarea
                    rows="10"
                    cols="120"
                    placeholder="Mô tả"
                    class="form-control"
                    formControlName="description"
                  >
                  </textarea>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group modify">
          <button type="submit" class="btn btn-primary btn-round">
            Lưu
          </button>
          <button type="button" (click)="onCancel()" class="btn btn-secondary btn-round">
            Hủy
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
