<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        Danh sách triệu chứng
      </div>
      <div class="card-body" *ngIf="symptoms">
        <div class="">
          <table class="table table-bordered">
            <thead class="table-info">
              <tr>
                <th scope="col " style="width: 40px;">STT</th>
                <th scope="col " style="width: 200px;">Tên triệu chứng</th>
                <th scope="col " >Mô tả</th>
                <th *ngIf="isSuperAdmin" scope="col" style="width: 100px">
                  Thao tác
                </th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="let symptom of symptoms 
                | paginate: { itemsPerPage: 10, currentPage: p}
                , let i = index"
              >
                <th class="text-center" scope="row">
                  {{ ((p - 1) * 10) + i + 1 }}
                </th>
                <td>{{ symptom.name}}</td>
                <td>{{ symptom.description }}</td>
                <td class="text-center" *ngIf="isSuperAdmin">
                  <a
                    [routerLink]="['/symptom-detail']"
                    [queryParams]="{id: symptom.symptomId}"
                    class="icon"
                  >
                    <img
                      src="assets/images/icon/o-alert-info@2x.png"
                      width="24px"
                      height="24px"
                    />
                  </a>
                  <img
                    src="assets/images/icon/trash-can@4x.png"
                    width="24px"
                    height="24px"
                    (click)="openDialog(symptom.symptomId)"
                  />
                </td>
              </tr>
            </tbody>
          </table>
          <div
            class="d-flex justify-content-center"
            *ngIf="symptoms.length != 0 && p >= 1"
          >
            <pagination-controls
              (pageChange)="p = $event"
            ></pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
