.a1 {
  white-space: nowrap;
}
.icon{
  padding-right: 10px !important;
}
.card-header {
  font-size: 30px;
    line-height: 40px ;
  text-align: center;
  color: #4c99d0;
  padding-top: 30px;
  padding-bottom: 30px;
}
