<div class="text-center">
  <div class="err-header">Truy cập bị từ chối!!!</div>
  <p>Tài khoản của bạn không có quyền truy cập</p>
  <img
    class="border-gray col-md-4"
    src="assets/images/icon/system.png"
    alt="..."
  />
  <div mat-dialog-actions class=" d-flex justify-content-center">
    <button class="btn btn-info" mat-dialog-close>Đóng</button>
  </div>
</div>
