<div class="row" *ngIf="listOfUser">
  <div
    class="col-md-6"
    *ngFor="let user of listOfUser| paginate: { itemsPerPage: 10, currentPage: p}
  , let i = index"
  >
    <div class="card">
      <div class="card-body row">
        <img
          class="border-gray col-md-4 avatar"
          [src]="user.avatar ? baseImg + user.avatar : defaultAvatar"
          alt="..."
        />
        <div class="col-md-8">
          <a [routerLink]="['/user-profile']" [queryParams]="{id: user.userId}">
            <h1 class="card-category">
              {{getFullName(user.lastname, user.surname,user.firstname)}}
            </h1>
          </a>
          <h3 class="card-title text-darken-xl">{{user.role.description}}</h3>
          <div>
            lives in {{getAddress(user.village.name, user.village.district.name,
            user.village.district.province.name)}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="d-flex justify-content-center" *ngIf="listOfUser && p >= 1">
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>
<!-- <div class="row" *ngIf="!listOfUser">
  <div class="col-md-12">
    <div class="card card1">
      <div class="card-body text-center center">
        <h1 class="">{{message}}</h1>
        <div class="d-flex align-items-center-center">
          <img
            class="border-gray"
            src="assets/images/icon/system.png"
            alt="..."
          />
        </div>
      </div>
    </div>
  </div>
</div> -->
