<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header text-center">
        Thêm mới xét nghiệm
      </div>
      <h2 class="text-center" *ngIf="isAdmin">
        {{currentUser.provinceName}} - {{currentUser.districtName}}
      </h2>
      <h2 class="text-center" *ngIf="isMod">
        {{currentUser.provinceName}}
        <br />
        {{currentUser.districtName}} - {{currentUser.villageName}}
      </h2>
      <div class="card-body">
        <div class="text-center">
          <mat-form-field
            appearance="fill"
            class="padding-right"
            *ngIf="isSuperAdmin"
          >
            <mat-label>Tỉnh/Thành phố</mat-label>
            <mat-select
              matNativeControl
              panelClass="mat-select-content"
              (selectionChange)="onChangeProvinceId($event.value)"
            >
              <mat-option
                *ngFor="let province of listOfProvince
              , let i = index"
                [value]="province.provinceId"
                >{{province.name}}</mat-option
              >
            </mat-select>
          </mat-form-field>
          <mat-form-field
            appearance="fill"
            class="padding-right"
            *ngIf="isSuperAdmin"
          >
            <mat-label>Quận/Huyện</mat-label>
            <mat-select
              matNativeControl
              panelClass="mat-select-content"
              (selectionChange)="onChangeDistrictId($event.value)"
            >
              <mat-option
                *ngFor="let district of listOfDistrict
              , let i = index"
                [value]="district.districtId"
                >{{district.name}}</mat-option
              >
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="fill" *ngIf="isAdmin || isSuperAdmin">
            <mat-label>Trạm y tế</mat-label>
            <mat-select
              matNativeControl
              panelClass="mat-select-content"
              [value]="defaultVillageId"
              (selectionChange)="onChangeVillage($event.value)"
            >
              <mat-option
                *ngFor="let medicalStaff of listOfMedicalStaff
            , let i = index"
                [value]="medicalStaff.village.villageId"
                >{{getFullName(medicalStaff.lastname,medicalStaff.surname,
                medicalStaff.firstname)}}</mat-option
              >
            </mat-select>
          </mat-form-field>
        </div>
        <div class="text-center">
          <input
            hidden
            type="file"
            #fileUpload
            (change)="onSelectFile($event)"
            accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
          />
          <button
            (click)="fileUpload.click()"
            class="btn btn-success btn-round"
          >
            <i class="fa fa-upload"></i>
            Tải lên
          </button>
          <button
            (click)="onSampleFileDownload()"
            class="btn btn-success btn-round"
          >
            <i class="fa fa-download"></i>
            File mẫu
          </button>
        </div>

        <form
          class="form-horizontal"
          [formGroup]="formCreate"
          (submit)="onSubmit()"
        >
          <div class="row form-group">
            <label class="col-md-4 control-label"
              >Bệnh nhân<span class="text-danger"> *</span></label
            >
            <div class="col-md-8">
              <select
                class="form-control form-select"
                (change)="onChangeUser($event.target.value)"
              >
                <option value="">--- Bệnh nhân ---</option>
                <option *ngFor="let user of ListOfUser" value="{{user.userId}}"
                  >{{getFullName(user.lastname,user.surname,
                  user.firstname)}}</option
                >
              </select>
            </div>
          </div>
          <div class="row form-group">
            <label class="col-md-4 control-label"
              >Đơn vị xét nghiệm<span class="text-danger"> *</span></label
            >
            <div class="col-md-8">
              <input
                type="text"
                placeholder="Đơn vị xét nghiệm"
                class="form-control"
                formControlName="unitSend"
              />
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-4"></div>
            <div class="col-md-8">
              <div
                *ngIf="(formCreate.get('unitSend').invalid 
                  && formCreate.get('unitSend').touched) 
                  || formCreate.get('unitSend').dirty"
              >
                <small
                  class="text-danger"
                  *ngIf="formCreate.get('unitSend').errors?.required"
                  >Chưa nhập đơn vị xét nghiệm</small
                >
              </div>
            </div>
          </div>
          <div class="row form-group">
            <label class="col-md-4 control-label"
              >Mã xét nghiệm<span class="text-danger"> *</span></label
            >
            <div class="col-md-8">
              <input
                type="text"
                placeholder="Mã xét nghiệm"
                class="form-control"
                formControlName="resultCode"
              />
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-4"></div>
            <div class="col-md-8">
              <div
                *ngIf="(formCreate.get('resultCode').invalid 
                  && formCreate.get('resultCode').touched) 
                  || formCreate.get('resultCode').dirty"
              >
                <small
                  class="text-danger"
                  *ngIf="formCreate.get('resultCode').errors?.required"
                  >Chưa nhập mã xét nghiệm</small
                >
              </div>
            </div>
          </div>
          <div class="row form-group">
            <label class="col-md-4 control-label"
              >Loại xét nghiệm<span class="text-danger"> *</span></label
            >
            <div class="col-md-8 d-flex">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="sampleType"
                  id="sampleType1"
                  formControlName="sampleType"
                  value="Dịch Họng"
                />
                <label class="form-check-label" for="sampleType1">
                  Dịch Họng
                </label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="sampleType"
                  id="sampleType2"
                  formControlName="sampleType"
                  value="Dịch tỵ hầu"
                />
                <label class="form-check-label" for="sampleType2">
                  Dịch tỵ hầu
                </label>
              </div>
            </div>
          </div>
          <!-- <div class="row form-group">
            <label class="col-md-4 control-label">Lần xét nghiệm: </label>
            <div class="col-md-8">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="numberTest"
                  formControlName="numberTest"
                  value="1"
                  checked
                />
                <label class="form-check-label" for="flexRadioDefault1">
                  Lần 1
                </label>
                <input
                  class="form-check-input"
                  type="radio"
                  name="numberTest"
                  formControlName="numberTest"
                  value="2"
                />
                <label class="form-check-label" for="flexRadioDefault1">
                  Lần 2
                </label>
                <input
                  class="form-check-input"
                  type="radio"
                  name="numberTest"
                  formControlName="numberTest"
                  value="3"
                />
                <label class="form-check-label" for="flexRadioDefault1">
                  Lần 3
                </label>
              </div>
            </div>
          </div> -->
          <div class="row form-group">
            <label class="col-md-4 control-label">Ngày khởi phát</label>
            <div class="col-md-8">
              <input
                data-date-format="dd/mm/yyyy"
                class="form-control date"
                type="date"
                formControlName="startDate"
                [max]="maxDate"
              />
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-4"></div>
            <div class="col-md-8">
              <div
                *ngIf="(formCreate.get('startDate').invalid 
                  && formCreate.get('startDate').touched) 
                  || formCreate.get('startDate').dirty"
              >
                <small
                  class="text-danger"
                  *ngIf="formCreate.get('startDate').errors?.required"
                  >Chưa nhập ngày bắt đầu</small
                >
              </div>
            </div>
          </div>
          <div class="row form-group">
            <label class="col-md-4 control-label"
              >Ngày lấy mẫu<span class="text-danger"> *</span></label
            >
            <div class="col-md-8">
              <input
                class="form-control date"
                type="date"
                formControlName="collectDate"
                [max]="maxDate"
              />
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-4"></div>
            <div class="col-md-8">
              <div
                *ngIf="(formCreate.get('collectDate').invalid 
                  && formCreate.get('collectDate').touched) 
                  || formCreate.get('collectDate').dirty"
              >
                <small
                  class="text-danger"
                  *ngIf="formCreate.get('collectDate').errors?.required"
                  >Chưa nhập ngày lấy mẫu</small
                >
              </div>
            </div>
          </div>
          <div class="row form-group">
            <label class="col-md-4 control-label"
              >Ngày nhận mẫu<span class="text-danger"> *</span></label
            >
            <div class="col-md-8">
              <input
                class="form-control date"
                type="date"
                formControlName="receiveDate"
                [max]="maxDate"
              />
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-4"></div>
            <div class="col-md-8">
              <div
                *ngIf="(formCreate.get('receiveDate').invalid 
                  && formCreate.get('receiveDate').touched) 
                  || formCreate.get('receiveDate').dirty"
              >
                <small
                  class="text-danger"
                  *ngIf="formCreate.get('receiveDate').errors?.required"
                  >Chưa nhập ngày nhận mẫu</small
                >
              </div>
            </div>
          </div>
          <div class="row form-group">
            <label class="col-md-4 control-label"
              >Ngày xét nghiệm<span class="text-danger"> *</span></label
            >
            <div class="col-md-8">
              <input
                class="form-control date"
                type="date"
                formControlName="testDate"
                [max]="maxDate"
              />
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-4"></div>
            <div class="col-md-8">
              <div
                *ngIf="(formCreate.get('testDate').invalid 
                  && formCreate.get('testDate').touched) 
                  || formCreate.get('testDate').dirty"
              >
                <small
                  class="text-danger"
                  *ngIf="formCreate.get('testDate').errors?.required"
                  >Chưa nhập ngày xét nghiệm</small
                >
              </div>
            </div>
          </div>
          <div class="row form-group">
            <label class="col-md-4 control-label"
              >Mẫu xét nghiệm<span class="text-danger"> *</span></label
            >
            <div class="col-md-8 d-flex">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="status"
                  id="status2"
                  formControlName="status"
                  [value]="1"
                />
                <label class="form-check-label" for="status2">
                  Đạt
                </label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="status"
                  id="status1"
                  formControlName="status"
                  [value]="0"
                />
                <label class="form-check-label" for="status1">
                  Không đạt
                </label>
              </div>
            </div>
          </div>
          <div class="row form-group">
            <label class="col-md-4 control-label"
              >Kết quả xét nghiệm<span class="text-danger"> *</span></label
            >
            <div class="col-md-8 d-flex">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="testResult"
                  id="testResult2"
                  formControlName="testResult"
                  [value]="1"
                />
                <label class="form-check-label" for="testResult2">
                  Dương tính
                </label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="testResult"
                  id="testResult1"
                  formControlName="testResult"
                  [value]="0"
                />
                <label class="form-check-label" for="testResult1">
                  Âm tính
                </label>
              </div>
            </div>
          </div>
          <div class="row form-group">
            <label class="col-md-4 control-label">Ghi chú: </label>
            <div class="col-md-8">
              <input
                type="text"
                placeholder="Ghi chú"
                class="form-control"
                formControlName="comment"
              />
            </div>
          </div>
          <div class="form-group d-flex justify-content-center">
            <button type="submit" class="btn btn-primary btn-round">
              Tạo mới
            </button>
            <button
              type="button"
              (click)="onCancel()"
              class="btn btn-secondary btn-round"
            >
              Hủy
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
