<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <div>
          Quản lý báo cáo bệnh nhân
        </div>
        <h2 class="text-center" *ngIf="isAdmin">
          {{currentUser.provinceName}} - {{currentUser.districtName}}
        </h2>
        <h2 class="text-center" *ngIf="isMod">
          {{currentUser.provinceName}}
          <br />
          {{currentUser.districtName}} - {{currentUser.villageName}}
        </h2>
      </div>
      <div class="text-center">
        <mat-form-field
          appearance="fill"
          class="padding-right"
          *ngIf="isSuperAdmin"
        >
          <mat-label>Tỉnh/Thành phố</mat-label>
          <mat-select
            matNativeControl
            panelClass="mat-select-content"
            (selectionChange)="onChangeProvinceId($event.value)"
          >
            <mat-option
              *ngFor="let province of listOfProvince
              , let i = index"
              [value]="province.provinceId"
              >{{province.name}}</mat-option
            >
          </mat-select>
        </mat-form-field>
        <mat-form-field
          appearance="fill"
          class="padding-right"
          *ngIf="isSuperAdmin"
        >
          <mat-label>Quận/Huyện</mat-label>
          <mat-select
            matNativeControl
            panelClass="mat-select-content"
            (selectionChange)="onChangeDistrictId($event.value)"
          >
            <mat-option
              *ngFor="let district of listOfDistrict
              , let i = index"
              [value]="district.districtId"
              >{{district.name}}</mat-option
            >
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill" *ngIf="isAdmin || isSuperAdmin">
          <mat-label>Trạm y tế</mat-label>
          <mat-select
            matNativeControl
            panelClass="mat-select-content"
            (selectionChange)="onChangeMedicalStaff($event.value)"
          >
            <mat-option
              *ngFor="let medicalStaff of listOfMedicalStaff
                , let i = index"
              [value]="medicalStaff.village.villageId"
              >{{getFullName(medicalStaff.lastname,medicalStaff.surname,
              medicalStaff.firstname)}}</mat-option
            >
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Ngày</mat-label>
          <input
            matInput
            [matDatepicker]="picker3"
            [value]="currentDate"
            (dateChange)="getDateValue($event.value)"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker3"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker3></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="card-body" *ngIf="!dailyReports">
        <div class="empty">
          <div class="empty-center text-center">
            <img src="assets/images/empty-folder.png" class="empty-box" />
            <h2>
              <!-- Danh sách trống! -->
              Không có báo cáo!
            </h2>
          </div>
        </div>
      </div>
      <div class="card-body" *ngIf="dailyReports">
        <div *ngIf="dailyReports.length === 0" class="empty">
          <div class="empty-center text-center">
            <img src="assets/images/empty-folder.png" class="empty-box" />
            <h2>
              <!-- Danh sách trống! -->
              Không có báo cáo!
            </h2>
          </div>
        </div>
        <div class="table table-responsive" *ngIf="dailyReports.length >=1">
          <table class="table table-bordered">
            <thead class="table-info">
              <tr>
                <th scope="col">STT</th>
                <th scope="col" style="width: 17%;">Họ và Tên</th>
                <th scope="col">Nhiệt độ</th>
                <th scope="col">Nồng độ oxy</th>
                <th scope="col">Ghi chú</th>
                <th scope="col">Bài tập</th>
                <th scope="col">Thuốc</th>
                <th scope="col">Triệu chứng</th>
                <th scope="col " style="width: 10%;">Thao tác</th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="let dailyReport of dailyReports 
                | paginate: { itemsPerPage: 10, currentPage: p}, let i = index"
              >
                <th class="text-center" scope="row">
                  {{ ((p - 1) * 10) + i + 1 }}
                </th>
                <td>
                  <a
                    [routerLink]="['/user-profile']"
                    [queryParams]="{id: dailyReport.userId}"
                  >
                    {{ getFullName( dailyReport.lastname, dailyReport.surname,
                    dailyReport.firstname) }}</a
                  >
                </td>
                <td>{{dailyReport.temperature}}</td>
                <td>{{dailyReport.oxygen}}</td>
                <td>{{dailyReport.comment}}</td>
                <td style="white-space: pre-line;">
                  {{convert(dailyReport.exercises)}}
                </td>
                <td style="white-space: pre-line;">
                  {{convert(dailyReport.medicines)}}
                </td>
                <td style="white-space: pre-line;">
                  {{convert(dailyReport.symptoms)}}
                </td>
                <td class="text-center">
                  <a
                    [routerLink]="['/report-detail']"
                    [queryParams]="{id: dailyReport.userId
                      , name: getFullName( dailyReport.lastname, dailyReport.surname,
                      dailyReport.firstname)}"
                    class="icon"
                  >
                    <img
                      src="assets/images/icon/o-alert-info@2x.png"
                      width="24px"
                      height="24px"
                    />
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
          <div
            class="d-flex justify-content-center"
            *ngIf="dailyReports && p >= 1"
          >
            <pagination-controls
              (pageChange)="p = $event"
            ></pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
