* {
  box-sizing: border-box;
}

.bg-img {
  /* The image used */
  background-image: url("assets/images/background.png");
  min-height: 380px;
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Add styles to the form container */
.container {
  position: absolute;
  left: 50%;
  bottom: 15%;
  margin: 20px;
  max-width: 370px;
  padding: 16px;
  /* background-color: white;
  border: 1px solid lightblue;
  border-radius: 10px; */
}
.center {
  text-align: center;
  color: #445e93;
}
label {
  padding: 0;
  margin: auto;
}
.fa-eye-slash:hover,
.fa-eye:hover {
  cursor: pointer;
}
.input-group{
  margin-bottom: 0px;
}
.input-group-text {
  padding: 10px !important;
}
/* Set a style for the submit button */
.btn {
  background-color: #9cd0e7;
  color: black;
  border: none;
  cursor: pointer;
  width: 130px;
  opacity: 0.9;
}

.btn:hover {
  opacity: 1;
}

