<div class="bg-img">
  <form [formGroup]="formLogin" class="container center">
    <h1 class="d-flex justify-content-center"><b>ĐĂNG NHẬP</b></h1>
    <div class="row form-group">
      <label class="col-md-4 control-label text-right"
        ><b>Tên đăng nhập:</b></label
      >
      <div class="col-md-8">
        <div class="input-group">
          <input
            type="text"
            name="username"
            class="form-control"
            formControlName="username"
            placeholder="Tên đăng nhập"
          />
        </div>
      </div>
    </div>
    <div class="row form-group">
      <div class="col-md-4"></div>
      <div class="col-md-8 text-left">
        <div
          *ngIf="(formLogin.get('username').invalid 
            && formLogin.get('username').touched) 
            || formLogin.get('username').dirty"
        >
          <small
            class="text-danger"
            *ngIf="formLogin.get('username').errors?.required"
          >
            Chưa nhập tên đăng nhập
          </small>
          <small
            class="text-danger"
            *ngIf="formLogin.get('username').errors?.minlength"
          >
            Tên đăng nhập có tối thiểu 3 kí tự
          </small>
        </div>
      </div>
    </div>
    <div class="row form-group">
      <label class="col-md-4 control-label text-right"><b>Mật khẩu:</b></label>
      <div class="col-md-8">
        <div class="input-group">
          <input
            [type]="password ? 'text' : 'password'"
            class="form-control"
            formControlName="password"
            placeholder="Mật khẩu"
          />
          <div class="input-group-append">
            <span class="input-group-text">
              <i
                class="fa"
                [ngClass]="{
                  'fa-eye-slash': !password,
                  'fa-eye': password
                }"
                (click)="toggleShowPassword()"
              ></i>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="row form-group">
      <div class="col-md-4"></div>
      <div class="col-md-8 text-left">
        <div
          *ngIf="(formLogin.get('password').invalid
           && formLogin.get('password').touched) 
           || formLogin.get('password').dirty"
        >
          <small
            *ngIf="formLogin.get('password').errors?.required"
            class="text-danger"
            >Chưa nhập mật khẩu mới</small
          >
          <small
            *ngIf="formLogin.get('password').errors?.minlength"
            class="text-danger"
            >Tối thiểu phải có 6 kí tự</small
          >
        </div>
      </div>
    </div>
    <div >
      <a routerLink="/forgot-password"> Quên mật khẩu</a><br />
      <button (click)="onSubmit()" class="btn btn-primary btn-round center">
        Đăng nhập
      </button>
    </div>
  </form>
</div>
