.form-horizontal {
  width: 50%;
  margin: 20px auto;
  padding: 0px 30px 10px 30px;
  /* border: 1px solid lightblue; */
}
label {
  padding: 0;
  margin: auto;
}
.fa-eye-slash:hover,
.fa-eye:hover {
  cursor: pointer;
}
.input-group-text {
  padding: 10px !important;
}
.card-header {
  font-size: 40px;
  text-align: center;
  color: #4c99d0;
  padding-top: 50px;
  padding-bottom: 30px;
}
.modify {
  margin-bottom: 30px;
}
.btn-round {
  border-radius: 5px;
  width: 120px;
}

.input-group{
  margin-bottom: 0px;
}
