<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        Đổi mật khẩu
      </div>
      <div class="card-body">
        <form
          class="form-horizontal"
          [formGroup]="formPassword"
          (submit)="onSubmit()"
        >
          <div class="row form-group">
            <label class="col-md-4 control-label">Mật khẩu cũ: </label>
            <div class="col-md-8">
              <div class="input-group">
                <input
                  [type]="oldPassword ? 'text' : 'password'"
                  class="form-control"
                  formControlName="oldPassword"
                  placeholder="Mật khẩu cũ"
                />
                <div class="input-group-append">
                  <span class="input-group-text">
                    <i
                      class="fa"
                      [ngClass]="{
                        'fa-eye-slash': !oldPassword,
                        'fa-eye': oldPassword
                      }"
                      (click)="toggleShowOldPassword()"
                    ></i>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="row form-group">
            <div class="col-md-4"></div>
            <div class="col-md-8">
              <div
                *ngIf="(formPassword.get('oldPassword').invalid
                 && formPassword.get('oldPassword').touched) 
                 || formPassword.get('oldPassword').dirty"
              >
                <small
                  *ngIf="formPassword.get('oldPassword').errors?.required"
                  class="text-danger"
                  >Chưa nhập mật khẩu cũ</small
                >
                <small
                  *ngIf="formPassword.get('oldPassword').errors?.minlength"
                  class="text-danger"
                  >Tối thiểu phải có 6 kí tự</small
                >
              </div>
            </div>
          </div>
          <div class="row form-group">
            <label class="col-md-4 control-label">Mật khẩu Mới: </label>
            <div class="col-md-8">
              <div class="input-group">
                <input
                  [type]="newPassword ? 'text' : 'password'"
                  class="form-control"
                  formControlName="newPassword"
                  placeholder="Mật khẩu mới"
                />
                <div class="input-group-append">
                  <span class="input-group-text">
                    <i
                      class="fa"
                      [ngClass]="{
                      'fa-eye-slash': !newPassword,
                      'fa-eye': newPassword
                    }"
                      (click)="toggleShowNewPassword()"
                    ></i>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="row form-group">
            <div class="col-md-4"></div>
            <div class="col-md-8">
              <div
                *ngIf="(formPassword.get('newPassword').invalid
                 && formPassword.get('newPassword').touched)
                  || formPassword.get('newPassword').dirty"
              >
                <small
                  *ngIf="formPassword.get('newPassword').errors?.required"
                  class="text-danger"
                  >Chưa nhập mật khẩu mới</small
                >
                <small
                  *ngIf="formPassword.get('newPassword').errors?.minlength"
                  class="text-danger"
                  >Tối thiểu phải có 6 kí tự</small
                >
              </div>
            </div>
          </div>
          <div class="row form-group">
            <label class="col-md-4 control-label"
              >Xác nhận mật khẩu mới:
            </label>
            <div class="col-md-8">
              <div class="input-group">
                <input
                  [type]="reEnterPassword ? 'text' : 'password'"
                  class="form-control"
                  formControlName="reEnterPassword"
                  placeholder="Nhập lại mật khẩu mới"
                />
                <div class="input-group-append">
                  <span class="input-group-text">
                    <i
                      class="fa"
                      [ngClass]="{
                      'fa-eye-slash': !reEnterPassword,
                      'fa-eye': reEnterPassword
                    }"
                      (click)="toggleShowReEnterPassword()"
                    ></i>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="row form-group">
            <div class="col-md-4"></div>
            <div class="col-md-8">
              <div
                *ngIf="(formPassword.get('reEnterPassword').invalid 
                && formPassword.get('reEnterPassword').touched) 
                || formPassword.get('reEnterPassword').dirty"
              >
                <small
                  *ngIf="formPassword.get('reEnterPassword').errors?.required"
                  class="text-danger"
                  >Chưa nhập mật khẩu mới</small
                >
                <small
                  *ngIf="formPassword.get('reEnterPassword').errors?.minlength"
                  class="text-danger"
                  >Tối thiểu phải có 6 kí tự</small
                >
              </div>
            </div>
          </div>
          <div class="text-center">
            <div
              *ngIf="(formPassword.get('reEnterPassword').invalid
             && formPassword.get('reEnterPassword').touched) 
             || formPassword.get('reEnterPassword').dirty"
            >
              <small
                *ngIf="formPassword.get('newPassword').value !==formPassword.get('reEnterPassword').value"
                class="text-danger"
                >Mật khẩu mới không trùng nhau</small
              >
            </div>
          </div>
          <div class="form-group modify d-flex justify-content-center">
            <button type="submit" class="btn btn-primary btn-round">
              Thay đổi
            </button>
            <button
              type="button"
              (click)="onCancel()"
              class="btn btn-secondary btn-round"
            >
              Hủy
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
