.card-header {
  font-size: 30px;
  line-height: 40px;
  text-align: center;
  color: #4c99d0;
  padding: 30px 0px 10px 0px;
  background-color: white;
  border-bottom: none;
}
.btn-round {
  border-radius: 5px;
}
