<div class="card-header">
  Thay đổi bác sĩ chăm sóc
</div>
<h3 class="text-center">bệnh nhân: {{patientName}}</h3>
<form
  class="card-body"
  *ngIf="ListOfDoctor"
  [formGroup]="formAssignEdit"
  (submit)="onAssign()"
>
  <mat-form-field appearance="fill" *ngIf="ListOfDoctor.length > 0">
    <mat-label>Bác sĩ</mat-label>
    <mat-select matNativeControl formControlName="doctorId">
      <mat-option
        *ngFor="let doctor of ListOfDoctor, let i = index"
        [value]="doctor.id"
        >{{getFullName(doctor.user.lastname, doctor.user.surname,
        doctor.user.firstname)}}</mat-option
      >
    </mat-select>
  </mat-form-field>
  <div *ngIf="ListOfDoctor.length == 0" class="text-danger text-center">Không có bác sĩ</div>
  <div class="float-right" *ngIf="ListOfDoctor.length > 0">
    <button type="submit" class="btn btn-primary btn-round">
      Lưu
    </button>
  </div> 
</form>
