.form-horizontal {
  width: 90%;
  margin: 0 auto 50px auto;
  padding: 30px 20px;
  border: 1px solid lightblue;
  border-radius: 10px;
}
.card-header {
  font-size: 30px;
  line-height: 40px;
  text-align: center;
  color: #4c99d0;
  padding: 50px 50px 30px 50px;
}
label {
  text-align: right;
  padding: 0;
  font-size: 16px;
  margin: auto;
}
img {
  border: 1px solid lightblue;
}
.exercise-img {
  width: auto;
  height: 180px;
}
.btn-round {
  border-radius: 5px;
}
.btn1 {
  width: 120px;
}
.row {
  margin: auto 0;
}
.text-left {
  padding-top: 10px;
}
.btn-upload{
  margin: auto;
}
.text-right{
  padding-right: 0;
}
