<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="card-header text-center">Kích hoạt tài khoản</div>
        <h2 class="text-center address-title" *ngIf="isAdmin">
          {{currentUser.provinceName}} - {{currentUser.districtName}}
        </h2>
        <h2 class="text-center address-title" *ngIf="isMod">
          {{currentUser.provinceName}}
          <br />
          {{currentUser.districtName}} - {{currentUser.villageName}}
        </h2>
        <div class="text-center">
          <mat-form-field
            appearance="fill"
            class="padding-right"
            *ngIf="isSuperAdmin"
          >
            <mat-label>Tỉnh/Thành phố</mat-label>
            <mat-select
              matNativeControl
              panelClass="mat-select-content"
              (selectionChange)="onChangeProvinceId($event.value)"
            >
              <mat-option
                *ngFor="let province of listOfProvince
                  , let i = index"
                [value]="province.provinceId"
                >{{province.name}}</mat-option
              >
            </mat-select>
          </mat-form-field>
          <mat-form-field
            appearance="fill"
            class="padding-right"
            *ngIf="isSuperAdmin"
          >
            <mat-label>Quận/Huyện</mat-label>
            <mat-select
              matNativeControl
              panelClass="mat-select-content"
              (selectionChange)="onChangeDistrictId($event.value)"
            >
              <mat-option
                *ngFor="let district of listOfDistrict
                  , let i = index"
                [value]="district.districtId"
                >{{district.name}}</mat-option
              >
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="fill" *ngIf="isSuperAdmin">
            <mat-label>Trạm y tế</mat-label>
            <mat-select
              matNativeControl
              panelClass="mat-select-content"
              (selectionChange)="onChangeVillage($event.value)"
            >
              <mat-option
                *ngFor="let medicalStaff of listOfMedicalStaff
                  , let i = index"
                [value]="medicalStaff.village.villageId"
                >{{getFullName(medicalStaff.lastname,medicalStaff.surname,
                medicalStaff.firstname)}}</mat-option
              >
            </mat-select>
          </mat-form-field>
        </div>
        <div class="text-right">
          <mat-form-field appearance="fill" *ngIf="isAdmin">
            <mat-label>Trạm y tế</mat-label>
            <mat-select
              matNativeControl
              panelClass="mat-select-content"
              (selectionChange)="onChangeVillage($event.value)"
            >
              <mat-option
                *ngFor="let medicalStaff of listOfMedicalStaff
                    , let i = index"
                [value]="medicalStaff.village.villageId"
                >{{getFullName(medicalStaff.lastname,medicalStaff.surname,
                medicalStaff.firstname)}}</mat-option
              >
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Bác sĩ/Bệnh nhân</mat-label>
            <mat-select
              matNativeControl
              [value]="defaultUserRole"
              (selectionChange)="onchangeUserRole($event.value)"
            >
              <mat-option [value]="3">Bác sĩ</mat-option>
              <mat-option [value]="4">Bệnh nhân</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="card-body" *ngIf="!listOfUser">
          <div class="empty">
            <div class="empty-center text-center">
              <img src="assets/images/empty-folder.png" class="empty-box" />
              <h2>
                Danh sách trống!
              </h2>
            </div>
          </div>
        </div>
        <div *ngIf="listOfUser">
          <div *ngIf="listOfUser.length === 0" class="empty">
            <div class="empty-center text-center">
              <img src="assets/images/empty-folder.png" class="empty-box" />
              <h2>
                Danh sách trống!
              </h2>
            </div>
          </div>
          <table class="table table-bordered" *ngIf="listOfUser.length >=1">
            <thead class="table-info">
              <tr class="table-info">
                <th scope="col" style="width: 5%;">STT</th>
                <th scope="col" style="width: 17%;">Họ và Tên</th>
                <th scope="col">SĐT</th>
                <th scope="col">Địa chỉ</th>
                <th scope="col">Kích hoạt</th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="let user of listOfUser 
                    | paginate: { itemsPerPage: 10, currentPage: p}
                    , let i = index"
              >
                <th class="text-center" scope="row">
                  {{ ((p - 1) * 10) + i + 1 }}
                </th>
                <td>
                  <a
                    [routerLink]="['/user-profile']"
                    [queryParams]="{id: user.userId}"
                  >
                    {{ getFullName(user.lastname, user.surname, user.firstname)
                    }}
                  </a>
                </td>
                <td>{{user.phone}}</td>
                <td>
                  {{user.address}}
                </td>
                <td class="text-center">
                  <img
                    src="assets/images/icon/check-icon.jpg"
                    width="27px"
                    height="27px"
                    (click)="onActive(user.userId)"
                  />
                </td>
              </tr>
            </tbody>
          </table>
          <div
            class="d-flex justify-content-center"
            *ngIf="listOfUser.length != 0 && p >= 1"
          >
            <pagination-controls
              (pageChange)="p = $event"
            ></pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
