.card-header {
  font-size: 30px;
    line-height: 40px ;
  text-align: center;
  color: #4c99d0;
  padding-top: 30px;
  padding-bottom: 30px;
}

.card-padding {
  padding: 20px;
  border-bottom: 1px solid royalblue;
}
.top-padding {
  border-top: 1px solid lightblue;
}
.medicine-img {
  width: auto;
  height: 180px;
}
.card-modify {
  min-height: 180px;
}

pagination-controls {
  padding: 20px;
}
