<div class="bg-img">
  <form
    [formGroup]="formPassword"
    class="container center"
    (submit)="onSubmit()"
  >
    <h1 class="d-flex justify-content-center"><b>Quên mật khẩu</b></h1>
    <div class="row form-group">
      <label class="col-md-4 control-label text-right"><b>Email:</b> </label>
      <div class="col-md-8">
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            formControlName="mail"
            placeholder="Email"
          />
        </div>
      </div>
    </div>
    <div class="row form-group">
      <div class="col-md-4"></div>
      <div class="col-md-8">
        <div
          class="text-left"
          *ngIf="(formPassword.get('mail').invalid 
            && formPassword.get('mail').touched) 
            || formPassword.get('mail').dirty"
        >
          <small
            class="text-danger"
            *ngIf="formPassword.get('mail').errors?.required"
            >Chưa nhập email</small
          >
          <small
            class="text-danger"
            *ngIf="formPassword.get('mail').errors?.pattern"
            >Chưa nhập đúng định dạng email</small
          >
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-primary btn-round center">
      Gửi
    </button>
    <button
      type="button"
      (click)="onCancel()"
      class="btn btn-secondary btn-round center"
    >
      Hủy
    </button>
  </form>
</div>
