.a1 {
    white-space: nowrap;
  }
  .icon {
    padding-right: 10px !important;
  }
  .card-header {
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    color: #4c99d0;
    padding: 30px 0 10px 0;
  }
  h2{
    padding-bottom: 20px;
  }

  mat-form-field {
    margin-right: 20px;
  }