.a1 {
  white-space: nowrap;
}
.icon {
  padding-right: 10px !important;
}
.card-header {
  font-size: 30px;
  line-height: 40px;
  text-align: center;
  color: #4c99d0;
  padding: 30px 0 10px 0;
}
mat-form-field {
  margin-right: 20px;
}
button {
  width: 140px;
}
.btn-round {
  border-radius: 5px;
}
.empty {
  color: #556388;
  height: 300px;
}
.empty-box {
  width: 150px;
}
.empty-center {
  padding-top: 20px;
  margin: auto;
}