label {
  font-size: 16px;
  margin: auto;
}
.card-header {
  font-size: 35px;
  text-align: center;
  color: #4c99d0;
  padding: 50px 0 20px 0;
}
h2{
  color: #4c99d0;
}
.form-horizontal {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  /* border: 1px solid royalblue; */
}
.col-md-4 {
  padding-right: 0 !important;
}
.radio {
  padding: 0px 15px 0px 0px !important;
}
.span-modify {
  padding: 0px 30px 0px 0px !important;
}
.btn-round {
  border-radius: 5px;
  width: 130px;
}
/* mat-form-field {
  width: 33%;
  padding-left: 15px;
  padding-right: 15px;
} */

.mat-tab-body-content {
  overflow: hidden;
}
.padding-right {
  padding-right: 20px;
}
.padding-left {
  padding-left: 20px;
}
