
.card-border {
  padding: 30px;
}
.card-header {
  font-size: 30px;
  line-height: 40px;
  text-align: center;
  color: #4c99d0;
  padding: 50px;
}
.txt-right {
  text-align: right;
  font-size: 20px !important;
}
.form-horizontal {
  width: 70%;
  margin: 0 auto 50px auto;
  padding: 30px 20px;
  border: 1px solid lightblue;
  border-radius: 10px;
}
.btn-center {
  display: flex;
  justify-content: center;
}
.img-center {
  height: 150px;
  width: auto;
  justify-content: center;
}
.modify {
  display: flex;
  justify-content: center;
}
.btn-round {
  border-radius: 5px;
}
.center1 {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}
.exercise-img {
  width: auto;
  height: 180px;
  border: 1px solid lightblue;
}
button {
  width: 130px;
}
.btn-upload {
  width: auto;
}
